apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: update-hourly
  namespace: {{ namespace }}
spec:
  schedule: "0 */1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: php
            image: us.gcr.io/sharpspring-us/yourname-weatherapp:{{ diff_id }}
            command:
            - php
            args:
            - /var/www/site/cronjob.php
