apiVersion: batch/v1
kind: CronJob
metadata:
  name: update-hourly
  namespace: {{ namespace }}
spec:
  # `Forbid`: Don't create a new job; just let the old one keep going (Only one job at a time)
  # `Replace`: Delete the old job first, then make the new job (Only one job at a time)
  # `Allow`: Just keep making more jobs (Possibly many jobs at any given time!)
  concurrencyPolicy: Forbid

  # https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/
  startingDeadlineSeconds: 300

  schedule: "0 */1 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          restartPolicy: Never
          containers:
          - name: php
            image: us.gcr.io/sharpspring-us/sley-training:{{ diff_id }}
            command:
            - php
            args:
            - /var/www/site/cronjob.php