{% if cluster in ("datastores-us-central1") %}
---
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: {{ namespace }}
  labels:
    role: mariadb
spec:
  selector:
    role: mariadb
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
    targetPort: 3306
{% endif %}