{% if cluster in ("staging") %}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    sharpspring.com/service-forwarder: '{"context":"datastores-us-central1","namespace":"sley-training","service":"mariadb"}'
  name: mariadb
  namespace: sley-training
  labels:
    role: mariadb
spec:
  ports:
  - port: 3306
    name: mysql
    protocol: TCP
    targetPort: 3306
{% endif %}