{% if cluster in ("staging") %}
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: {{ namespace }}
  labels:
    role: nginx
spec:
  selector:
    role: nginx
  type: LoadBalancer
  ports:
  - port: 80
    name: http
    protocol: TCP
    targetPort: http
  loadBalancerSourceRanges:
  - 209.251.145.16/30
  - 35.208.194.182/32
{% endif %}
