---
apiVersion: v1
kind: Service
metadata:
  name: php
  namespace: {{ namespace }}
  labels:
    role: php
spec:
  selector:
    role: php
  ports:
  - port: 9000
    name: php
    protocol: TCP
    targetPort: 9000
