{% for secret_name, secret in (secrets | default({})).items() %}
{% set data = secret.get("all-clusters", secret.get("data")) | default({}) | combine(secret[cluster] | default({})) %}
{% if (data|length) > 0 %}
---
apiVersion: v1
data:
{% for key, value in data.items() | sort %}
{% if value is string %}
  "{{ key }}": "{{ value | b64encode }}"
{% else %}
  "{{ key }}": "{{ value | to_nice_json | b64encode }}"
{% endif %}
{% endfor %}
kind: Secret
metadata:
  name: {{ secret_name }}
  namespace: {{ namespace }}
type: Opaque
{% endif %}
{% endfor %}
